<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arranchamento - Furriel</title>
    <link rel="stylesheet" href="styles.css">
    <script src="furriel.js" defer></script>
    <script src="scripts.js"></script>
</head>
<body>
    <div id="logout-div" >
        <button id="logout" type="button" href="/logout">Logout</button>
    </div>
    <h1>Sistema de arranchamento 3ª Cia Com Bld - Perfil de Furriel</h1><br><br> 

    <div class="dashboard-content">
        <label for="grupo-dropdown">Selecione o Grupo:</label>
        <select id="grupo-dropdown">
            <option value="1">Of / St/ Sgt</option>
            <option value="2">Cb / Sd</option>
            <option value="3">Recrutas</option>
        </select>

        <h2 id="welcome-message">Bem-vindo Furriel!</h2>

        <label for="data-dropdown">Selecione a data:</label>
        <select id="data-dropdown"></select>
        
        <label for="refeicao-dropdown">Selecione a refeição:</label>
        <select id="refeicao-dropdown"></select>

        <h3>Lista de Usuários</h3>
        <button id="toggleSelecionarTudo" type="button">Selecionar/Desmarcar Tudo</button>
        <table border="1">
            <thead>
                <tr>
                    <th>Militar Arranchado</th>
                    <th id="header-refeicao"></th>
                </tr>
            </thead>
            <tbody id="tabela-arranchados">
                <!-- O conteúdo será inserido dinamicamente via JS -->
            </tbody>
        </table>

        <br>
        <button id="salvarSelecoes" type="button" onclick="salvarSelecoesMultiplos()">Salvar</button>
    </div>
</body>
<script>


</script>
</html>
