body {
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgb(12, 66, 2) 0%, rgb(46, 107, 3) 67%, rgba(0,196,54,1) 100%);
    margin: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 20px 0;
}

.login-container {
    background-color: #90EE90; /* Verde claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #556B2F; /* Verde oliva mais escuro */
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #556B2F; /* Verde oliva mais escuro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #6B8E23; /* Verde oliva */
}

.login-container p {
    margin-top: 15px;
    color: #556B2F; /* Verde oliva mais escuro */
}

.login-container a {
    color: #6B8E23; /* Verde oliva */
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.dashboard-content{
    margin: 50px;
    padding: 50px;
    width: 500px;
    background: rgb(0,190,96);
    /* background: linear-gradient(90deg, rgba(0,190,96,1) 0%, rgba(0,148,6,1) 67%, rgba(17,51,0,1) 100%); */

}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: auto;
    margin: auto;
    text-align: center;
  } 

  #arrancho-button {
    color: white;
    background-color: #6B8E23;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    float: right;
}

#arrancho-button:hover {
    background-color: #5A7C1B;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

#logout-div {
    align-self: flex-start; /* Alinha este elemento à esquerda do container flex */
    width: 100%;            /* Opcional: ocupa toda a largura para garantir o alinhamento */
    text-align: left;       /* Alinha o conteúdo interno à esquerda */
    margin: 20px;           /* Ajuste conforme necessário */
  }
  
  
  #logout {
    font-size: 18px;          /* aumenta o tamanho da fonte */
    padding: 10px 20px;       /* aumenta o espaço interno */
    cursor: pointer;          /* exibe o cursor pointer */
    background-color: #007BFF;/* cor de fundo, opcional */
    color: #fff;              /* cor do texto */
    border: none;             /* sem borda */
    border-radius: 5px;       /* bordas arredondadas, opcional */
  }
  
